*{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar a {
    text-decoration: none;
}